/* Montserrat Font */
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
